table {
    width: calc(100% - 32px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 16px;
    background-color: rgba(0, 0, 0, 0.05);
}

.task-grid-no-margin {
    margin: 0;
    width: 100%;
    border: none;
}

thead, tbody {
    width: 100%;
}

thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.05);
}

th, td {
    padding: 6px;
}

.first-col {
    width: 63.25px;
}

th {
    cursor: default;
}

th:not(:first-child), td:not(:first-child)
{
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

tbody > tr:not(:last-child)
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.task-grid-row-delete {
    background-color: rgba(255, 0, 0, 0.2);
}

input {
    width: -webkit-fill-available;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 2px 6px;
    transition: background-color 0.2s;
}

input:hover:not(:disabled), input:focus:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.05);
}

.task-grid-action-area
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}