.task-section-container {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 4px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0px 0px 32px 0px;
}

.task-section-title-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 4px 16px
}

.task-section-title {
    font-size: 18px;
    font-weight: 700;
}

.task-section-body-container {
    padding: 4px 16px 16px 16px;
}

.task-section-body-container > ::deep*:last-child {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.task-section-collapsed:not(.task-section-title-container) {
    display: none;
}

.task-section-collapsed {
    border: none;
}

.task-icon {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    top: -1px;
    background-size: cover;
    float: right;
    cursor: pointer;
}

.task-icon-collapsed {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z'/%3E%3C/svg%3E");
}

.task-icon-expanded {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
}