@using TTask.TaskTree;

<div class="task-tree-container">
    @foreach(TaskTreeNode root in RootNodes)
    {
        <TaskSubTree Node="@root" Label="@root.Name" OnItemClick="OnSelect"/>
    }
</div>

@code {
    [Parameter]
    public TTask.TaskTree.TaskTreeNodeCollection RootNodes { get; set; } = new TaskTreeNodeCollection();

    [Parameter]
    public EventCallback<TaskTreeEventArgs> OnSelect { get; set; }
}
