@inherits LayoutComponentBase
@using Task.Login
@using Task.MODef
@using Task.TaskUser

<div class="login-container">
    <h1 class="login-title">Login</h1>
    <p>@Model.test</p>
    <p>@Model.Status</p>
    <div class="login-form">
        <InputText @bind-Value="Model.Username" type="text" id="username" placeholder="Username" class="login-input" />
        <InputText @bind-Value="Model.Password" type="password" id="password" placeholder="Password" class="login-input" />
        <button id="submit" value="Login" class="login-button" @onclick="OnLogin">Login</button>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public LoginParams Model { get; set; }

    protected override void OnInitialized()
    {
        Model = new LoginParams();
    }

    private void OnLogin()
    {
        Model!.test = $"{Model.Username} {Model.Password}";

        Model.Status = Model.login.Login(Model.Username, Model.Password) ? "Success" : "Failed";

        TaskUser user = new TaskUser();

        user.AddProperty(TaskUser.PROPERTY_USERNAME);
        user.AddCondition(new Condition(TaskUser.PROPERTY_PASSWORD, ConditionType.Equal, "test"));
        user.FindMany();
    }

    public class LoginParams
    {
        public string? Username { get; set; }
        public string? Password { get; set; }
        public string test { get; set; }
        public ILogin login { get; }
        public string Status { get; set; }

        public LoginParams()
        {
            test = string.Empty;
            Status = string.Empty;

            login = new TestLogin();
        }
    }

}