@inherits LayoutComponentBase
@using Task.Login
@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using Task.Components.Shared;
@inject IDbContextFactory<Context> ContextFactory;
@inject Session session;
@inject NavigationManager NavigationManager;
@inject Authentication Authentication;

<div class="login-container">
    <div class="login-box">
        <h1 class="login-title">Login</h1>
        <div class="login-form">
            <input @bind="Model.Username" id="username" placeholder="Username" class="login-input" />
            <input @bind="Model.Password" type="password" placeholder="Password" class="login-input" />
            <button id="submit" value="Login" class="login-button" @onclick="OnLogin">Login</button>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public LoginParams Model { get; set; }

    //Checks if user is already logged in 
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (await Authentication.IsAuthenticated(NavigationManager, session, ContextFactory))
        {
            NavigationManager.NavigateTo("/");
        }
    }

    protected override void OnInitialized()
    {
        Model = new LoginParams();
    }

    private async void OnLogin()
    {
        Authentication.Authenticate(NavigationManager, session, ContextFactory, Model.Username, Model.Password, Model.Status);  
    }

    public class LoginParams
    {
        public string? Username { get; set; }
        public string? Password { get; set; }
        public string Status { get; set; }

        public LoginParams()
        {
            Status = string.Empty;
        }
    }

}