@using Microsoft.EntityFrameworkCore;
@inherits LayoutComponentBase
@inject IDbContextFactory<Context> ContextFactory;
@inject Session session;
@inject NavigationManager NavigationManager;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <button style="margin: 4px" id="submit" value="Logout" @onclick="OnLogout">Logout</button>
        </div>

        <article class="content px-4">
            @Body
            @ChildContent
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    // Checks if user is logged in
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Guid sessionId = await session.GetSessionId();

        using(Context ctx = ContextFactory.CreateDbContext())
        {
            TaskUserSession? sess = await ctx.TaskUserSessions.Where(s => s.UserSessionGu == sessionId).FirstOrDefaultAsync();

            if(TypeCheck.Empty(sess))
            {
                NavigationManager.NavigateTo("/Login");
            }
        }
    }

    private async void OnLogout()
    {
        await session.DeleteSession();
    }
}