
<div class="topbar">

    <a class="navbar-brand" href="#">Task</a>
</div>

<nav class="navbar">
    <a class="nav-link" href="#">Home</a>
    <a class="nav-link" href="counter">Counter</a>
    <a class="nav-link" href="weather">Weather</a>
    <a class="nav-link" href="settings">Settings</a>
</nav>
