﻿<div class="top-bar">
    <div>
        <a class="navbar-brand" href="">Task</a>
    </div>
    <div>
        <a class="navbar-brand" href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="test">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="Settings">
                <span class="bi bi-gear-fill" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>
