@page "/Tasks"
@page "/Tasks/{number}"
@using Microsoft.EntityFrameworkCore;
@using Task.Components.Shared;
@inject Session session;
@inject IDbContextFactory<Context> ContextFactory;
@inject NavigationManager NavigationManager;

<PageTitle>Task - Tasks</PageTitle>

<h1>@GetTitle()</h1>
<TaskSection Title="Tasks">
    <TaskTextInput @bind-Value="Task.Title" Label="Title"/>
    <TaskTextInput @bind-Value="Task.Description" Label="Description"/>
</TaskSection>
@code {
    [Parameter]
    public string? Number { get; set; }
    public TaskTask Task { get; set; } = new TaskTask();

    private string GetTitle()
    {
        string res = string.Empty;
        bool isSearch = TypeCheck.Empty(Number);
        if(isSearch)
        {
            res += "Find ";
        }
        res += "Task";
        if(isSearch)
        {
            res += "s";
        }
        return res;
    }
}
